@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

/* Splash Screen Styles */
.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.splash-logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-logo {
  width: 200px;
  height: 200px;
  animation: zoomInOut 6s ease-in-out forwards;
}

.splash-text {
  font-family: "Nunito", sans-serif;
  color: orange;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  opacity: 0;
  animation: slideIn 6s ease-in-out forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes slideIn {
  0%, 75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Welcome Screen Styles */
.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.logo {
  width: 100px;
  height: 100px;
}

h1 {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Rules Screen Styles */
.rules-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Final Screen Styles */
.final-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

input {
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
