/* card.css */

.main {
    display: flex;
    justify-content: center;
  }

  
  .feeds .feed{
    background-color: rgb(12, 12, 12);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    margin-bottom: 0rem;
    font-size: 0.85rem;
    line-height: 1.5;
}
  .feed {
    max-width: 600px;
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .head {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .user {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .info {
    margin-top: -0.2rem;
    margin-left: 10px; /* Agrega un margen entre la imagen de perfil y el h3 */
  }
  
  .info h3 {
    margin: 0; /* Ajusta el margen del h3 para eliminar cualquier espacio no deseado */
    font-size: 16px;
  }
 

   .photo img {
    width: 100%;
  }
 
  .action-button {
    display: flex;
    gap: 10px; /* Espacio entre elementos */
    padding: 10px; /* Espacio alrededor de los elementos */
}

  .action-button button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
  }

  .action-button button:focus {
    outline: none;
  }
   .liked-by {
    padding: 10px;
  }
   .caption {
    padding: 10px;
  }
   .comments {
    padding: 10px;
  }

   .comments li {
    line-height: 1;
    margin-bottom: 10px;
  }
   .comments li strong {
    font-weight: bold;
    margin-right: 5px;
  }
 
  .photo img.photo-image {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción original */
  }

  @media screen and (max-width: 660px) {
  .feeds .feed{
     margin-left: 1rem;

}
  }