
 .perfil-facebook {
    width: 100%;
    position: relative;
    top: -1rem;
 }

 .perfil-facebook{
  margin-left: 1rem;
  margin-right: -4rem;
}

.cover-photo {
  width: 600px; /* Ancho de la portada */
  height: 200px; /* Alto de la portada */
  position: relative; /* Cambia a relativo para permitir el posicionamiento absoluto */
  margin: 0 auto; /* Centra horizontalmente */
}

.portada {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen de portada */
}

.porta{
  color: white;
  position: absolute;
  top: 100%; /* Centra verticalmente */
  left: 96.7%; /* Centra horizontalmente */
}

.perfi{
  color: white;
  position: absolute;
  top: 54%; /* Centra verticalmente */
  left: 65%; /* Centra horizontalmente */
}
.profile-pic img {
  display: block;
  width: 100%; /* Hacer que la imagen ocupe todo el contenedor */
  height: 100%; /* Hacer que la imagen ocupe todo el contenedor */
  object-fit: cover; /* Ajustar la imagen para que cubra el contenedor sin distorsión */
}

.foto-perfil {
  width: 150px;
  height: 150px;
  object-fit: cover; /* Ajustar la imagen para que cubra el contenedor sin distorsión */
  border-radius: 50%; /* Hacer el contenedor redondo */
  position: absolute;
  top: 43%; /* Centra verticalmente */
  left: 55%; /* Centra horizontalmente */
  transform: translate(-50%, -50%);
  border: 4px solid hsl(0, 0%, 0%);
}

.infot {
  position: absolute;
  margin-top: 5rem;
  margin-left: 14.9rem;
}


.datos span {
  margin: 0 5px;
}
  
.datos {
  border-radius: 40px;
  border: 4px solid rgb(223, 154, 7);
  background-color: rgb(223, 154, 7);
    font-size: 16px;
    margin-top: 10px;
  }


  
  

  @media screen and (max-width: 660px) {
    .perfil-facebook {
      top: -3rem;
   }
  
   .perfil-facebook{
    margin-left: 1rem;
  }
  
  .cover-photo {
    max-width: 368px; 
    height: 200px; 
    margin: 0 auto; 
  }

.infot {
  position: absolute;
  text-align: center;
  top: 18rem;
  left: 5rem;
  font-size: 13px;
}
.datos{
  font-size: 12px;
}
  
  }

  .biography {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinear los elementos a los extremos */
  }
  
  .biography-container h3 {
    display: inline; /* Mostrar en línea para que quede en la misma línea que el ícono */
  }
  
  .edit-icon {
    display: inline; /* Mostrar en línea */
    cursor: pointer; /* Cambiar el cursor a un puntero cuando se pasa por encima */
    width: 30px;
  height: 30px;
  }


.edit-icon:hover {
  color: #e4b310;
}

.biography-container {
  position: relative; /* Hacerlo relativo para posicionarlo correctamente debajo de .infot */
  top: 150px; /* Ajustar según sea necesario para separarlo de .infot */
  margin-left: 2rem; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
    margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}


.biography-container div {
  margin-bottom: 10px;
}

.biography-container h3{
  padding-bottom: 10px;
}
.biography-container input{
  margin-left: 5px;
}
.biography-container input[type="text"] {
  border: none; /* Borde gris claro */
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  outline: none; /* Eliminar contorno al enfocar */
}

.biography-container input[type="text"]::placeholder {
  color: #ffffff;
}



.biography-container .edit-icon {
  margin-left: 5px;
}

/* Estilos para los nuevos iconos */
.icon {
  color: var(--color-primary);
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: -3px; 
}
/* Estilos para el modal de edición */
.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.edit-form h3 {
  margin-bottom: 10px;
}

.edit-form div {
  margin-bottom: 15px;
}

.edit-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 3px;
}

.edit-form button {
  padding: 8px 16px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-form button:hover {
  background-color: #45a049;
}

