@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root{
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
  --color-light:hsl(252, 30%, 90%);
  --color-dark: hsl(0, 0%, 0%);
  --color-primary: hsl(39, 90%, 51%);
  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
  }
  
  
  *,*::before,*::after{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
      border: 0;
  }
  body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-light);
    background: var(--color-dark);
    overflow-x: hidden;
}

.container{
  width: 80%;
  margin: 0 auto;
}


main{
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    gap: 2rem;
    position: relative;
}
  
  .profile-pic {
      width: 2.7rem; /* Tamaño del contenedor */
      height: 2.7rem; /* Tamaño del contenedor */
      border-radius: 50%; /* Hacer el contenedor redondo */
      overflow: hidden; /* Ocultar cualquier parte de la imagen que se desborde */
      cursor: pointer;
  }
  
  .profile-pic img {
      display: block;
      width: 100%; /* Hacer que la imagen ocupe todo el contenedor */
      height: 100%; /* Hacer que la imagen ocupe todo el contenedor */
      object-fit: cover; /* Ajustar la imagen para que cubra el contenedor sin distorsión */
  }
  
  
  .btn{
      display: inline-block;
      padding: var(--btn-padding);
      font-weight: 500;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: all 300ms ease;
  }
  
  .btn:hover{
      opacity: 0.8;
  }
  
  .btn-primary{
      background: var(--color-primary);
      color: white;
  }